@page
@model IndexModel

@{
    ViewData["Title"] = "Packages";
    ViewData["SearchQuery"] = Model.Query;
}




@if (Model.Packages.Count == 0)
{
    <div>
        <h2>Oy, bu yerda hech narsa yo‘q…</h2>
        </div>
}
else
{
    @foreach (var package in Model.Packages)
    {
        <div class="row search-result">
            <div class="col-sm-1 hidden-xs hidden-sm">
                <img src="@package.IconUrl"
                     class="package-icon img-responsive"
                     onerror="this.src='@Url.Content("~/_content/BaGetter.Web/images/default-package-icon-256x256.png")'"
                     alt="The package icon" />
            </div>
            <div class="col-sm-11">
                <div>
                    <a asp-page="Package"
                       asp-route-id="@package.PackageId"
                       asp-route-version="@package.Version"
                       class="package-title">
                        @package.PackageId
                    </a>
                   
                </div>
                <ul class="info">
                    <li>
                        <span>
                            <i class="ms-Icon ms-Icon--Download"></i>
                            @package.TotalDownloads.ToMetric() yuklamalar
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="ms-Icon ms-Icon--Flag"></i>
                            So‘nggi versiya: @package.Version
                        </span>
                    </li>
                    @if (package.Tags.Any())
                    {
                        <li>
                            <span class="tags">
                                <i class="ms-Icon ms-Icon--Tag"></i>
                                @string.Join(" ", package.Tags)
                            </span>
                        </li>
                    }
                </ul>
                <div>
                    @package.Description
                </div>
            </div>
        </div>
    }

    var showPreviousLink = Model.PageIndex > 1;
    var showNextLink = Model.Packages.Count >= IndexModel.ResultsPerPage;

    if (showPreviousLink || showNextLink)
    {
        <nav aria-label="Search page navigation">
            <ul class="pager">
                @if (showPreviousLink)
                {
                    <li><a href="@SearchLink(page:Model.PageIndex - 1)">Previous</a></li>
                }

                @if (showNextLink)
                {
                    <li><a href="@SearchLink(page: Model.PageIndex + 1)">Next</a></li>
                }
            </ul>
        </nav>
    }
}

@functions {

   
    private string SearchLink(
        string packageType = null,
        string framework = null,
        bool? prerelease = null,
        int? page = null)
    {
        // Use model's value if the argument was skipped.
        packageType = packageType ?? Model.PackageType;
        framework = framework ?? Model.Framework;
        prerelease = prerelease ?? Model.Prerelease;
        page = page ?? Model.PageIndex;

        // Remove query parameters that have default value
        if (packageType == "any") packageType = null;
        if (framework == "any") framework = null;
        if (prerelease == true) prerelease = null;
        if (page == 1) page = null;

        return Url.Page("Index", new
        {
            q = Model.Query,
            p = page,
            packageType,
            framework,
            prerelease,
        });
    }
}
