@page "/packages/{id}/{version?}"
@model PackageModel

@{
    ViewData["Title"] = Model.Found
        ? Model.Package.Id + " " + Model.Package.NormalizedVersionString
        : Model.Package.Id;
}

@if (!Model.Found)
{
    <div>
        <h2>Oy, bu yerda hech narsa yo‘q…</h2>
        <p>Paket topilmadi '@Model.Package.Id'.</p>
    </div>
}
else
{
    <div class="row display-package">
        <aside class="col-sm-1 package-icon">
            <img src="@(Model.IconUrl ?? Url.Content("~/_content/BaGetter.Web/images/default-package-icon-256x256.png"))"
                 class="img-responsive"
                 onerror="this.src='@Url.Content("~/_content/BaGetter.Web/images/default-package-icon-256x256.png")'"
                 alt="The package icon" />
        </aside>

        <article class="col-sm-8 package-details-main">
            <div class="package-title">
                <h1>
                    @Model.Package.Id

                    <small class="text-nowrap">@Model.Package.NormalizedVersionString</small>
                </h1>
            </div>


            @{
                ExpandableSection("O‘qish uchun", "ms-Icon--Dictionary", expanded: false,
                    @<div>
                        @if (Model.Readme == null)
                        {
                            <div class="package-description">@Model.Package.Description</div>
                        }
                        else
                        {
                            <div class="package-readme">@Model.Readme</div>
                        }
                    </div>);
            }

          



            @{ ExpandableSection("Versiyalar", "ms-Icon--Stopwatch", expanded: true,
                @<div class="version-list" x-data="{ showAll: false }">
                    <table class="table borderless">
                        <thead>
                            <tr>
                                        <th>Versiya</th>
                                        <th>Yuklamalari</th>
                                        <th>Oxirgi yangilanish</th>
                            </tr>
                        </thead>
                        <tbody class="no-border">
                            @for (var i = 0; i < Model.Versions.Count; i++)
                            {
                                var version = Model.Versions[i];
                                var alwaysShow = Json.Serialize(i < DefaultVisibleVersions);

                                <tr class="@(version.Selected ? "bg-info" : "")" x-show="showAll || @alwaysShow">
                                    <td><a asp-page="Package" asp-route-version="@version.Version">@version.Version.ToNormalizedString()</a></td>
                                    <td>@version.Downloads.ToString("N0")</td>
                                    <td>@version.LastUpdated.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (Model.Versions.Count > DefaultVisibleVersions)
                    {
                        <button type="button" class="link-button" @@click="showAll = !showAll">
                            <i class="ms-Icon" x-bind:class="{ 'ms-Icon--CalculatorAddition': !showAll, 'ms-Icon--CalculatorSubtract': showAll }"></i>
                            <span x-text="showAll ? 'Show less' : 'Show more'"></span>
                        </button>
                    }

                </div>);
            }
        </article>

        <aside class="col-sm-3 package-details-info">
            <div>
                        <h2>Ma’lumot</h2>

                <ul class="list-unstyled ms-Icon-ul">
                    <li>
                        <i class="ms-Icon ms-Icon--History" aria-hidden="true"></i>
                                Oxirgi yangilanish @Model.LastUpdated.Humanize()
                    </li>

                    

                    <li>
                        <i class="ms-Icon ms-Icon--CloudDownload"></i>
                                <a href="@Model.PackageDownloadUrl">Paketni yuklab olish</a>
                    </li>
                </ul>
            </div>

            <div>
                        <h2>Statistika</h2>

                <ul class="list-unstyled ms-Icon-ul">
                    <li>
                        <i class="ms-Icon ms-Icon--Download"></i>
                                @Model.TotalDownloads.ToString("N0") jami yuklamalari
                    </li>

                    <li>
                        <i class="ms-Icon ms-Icon--Giftbox"></i>
                                @Model.Package.Downloads.ToString("N0") joriy versiya yuklamalari
                    </li>
                </ul>
            </div>

            @if (Model.Package.Authors.Any())
            {
                <div>
                    <h2>Authors</h2>

                    <p>@string.Join(", ", Model.Package.Authors)</p>
                </div>
            }

            @if (Model.Package.Tags.Any())
            {
                <div>
                    <h2>Tags</h2>

                    <p>
                        @foreach(var tag in Model.Package.Tags)
                        {
                            <span class="tag">@tag</span>
                        }
                    </p>
                </div>
            }
        </aside>
    </div>
}

@if (Model.Found)
{
    <script type="text/javascript">
        let tabs = [
            @if (Model.IsDotnetTemplate)
            {
                <text>
                {
                    name: ".NET CLI",
                    prefix: ">",
                    content: ["dotnet new --install @Model.Package.Id::@Model.Package.NormalizedVersionString"],
                },
                </text>
            }
            else if (Model.IsDotnetTool)
            {
                <text>
                {
                    name: ".NET CLI",
                    prefix: ">",
                    content: ["dotnet tool install --global @Model.Package.Id --version @Model.Package.NormalizedVersionString"],
                },
                </text>
            }
            else
            {
                <text>
                {
                    name: ".NET CLI",
                    prefix: ">",
                    content: ["dotnet add package @Model.Package.Id --version @Model.Package.NormalizedVersionString"],
                },
                {
                    name: "PackageReference",
                    prefix: "",
                    content: ["<PackageReference Include=\"@Model.Package.Id\" Version=\"@Model.Package.NormalizedVersionString\" />"]
                },
                {
                    name: "Paket CLI",
                    prefix: ">",
                    content: ["paket add @Model.Package.Id --version @Model.Package.NormalizedVersionString"]
                },
                {
                    name: "Package Manager",
                    prefix: "PM>",
                    content: ["Install-Package @Model.Package.Id -Version @Model.Package.NormalizedVersionString"]
                }
                </text>
            }
        ];
    </script>
}

@functions {

    private const int DefaultVisibleVersions = 5;

    private void ExpandableSection(string title, string icon, bool expanded, Func<object, IHtmlContent> template)
    {
        <div class="expandable-section" x-data="{ expanded: @Json.Serialize(expanded) }">
            <h2>
                <button type="button" class="link-button" @@click="expanded = !expanded">
                    <i x-bind:class="{ 'ms-Icon--ChevronDown': expanded, 'ms-Icon--ChevronRight': !expanded }"
                    class="ms-Icon">
                    </i>
                    <span>
                        @if (!string.IsNullOrWhiteSpace(icon))
                        {
                            <i class="ms-Icon @icon" aria-hidden="true"></i>
                        }
                        @title
                    </span>
                </button>
            </h2>

        <div x-show="expanded">@template(null)</div>
        </div>
    }
}
